.heading {
  @apply max-w-screen-sm mx-auto flex flex-col place-items-center text-center mb-16;
}

.heading > * + div {
  @apply mt-16;
}

.image {
  @apply relative max-w-screen-xs h-auto;
}

.image::before {
  @apply absolute left-0 top-0 rounded-full w-full h-full z-10 shadow-lg;
  content: '';
}

.image img {
  @apply opacity-100 w-full h-full object-cover rounded-full block;
}

.jobTitle {
  @apply text-gray-700;
}

.intent {
  @apply m-0;
}

.contact {
  @apply flex justify-around items-center max-w-xs mx-auto my-16;
}

.contact span {
  @apply sr-only;
}

@screen until-md {
  .title {
    font-size: 64px;
  }
  .jobTitle {
    @apply text-h3;
  }
}

@screen until-sm {
  .title {
    font-size: 56px;
  }
}
